/* 
Tanner Fry 
tfry@contractor.usgs.gov

A file for the css design of the ontology instance viewer.
*/
.ontology-container {
    display: none;
    z-index: 1000;
}
/* Canvas size is 300px by 300px (Has to be pixels to keep res with bitmaps) */
#ontology-viewer {
    border: 1px solid #000000;
    bottom: -1px;
    left: -1px;
    position: absolute;
    z-index: inherit;
}
#ontology-viewer-title {
    bottom: 280px;
    left: 105px;
    position: absolute;
    z-index: 1001;
}