/* 
Matthew Wagner & Tanner Fry 
mewagner@contractor.usgs.gov & tfry@contractor.usgs.gov

A file for the css design of the maps web page. Since cssmenu is a class,
it can be ported to other pages if need be.

Old USGS RGB: 0, 112, 66
Old USGS Hex: #007042
New USGS RGB: 0, 38, 76
New USGS Hex: #00264c

*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.dropdown-item a:hover, #sub-del-marker a:hover, #sub-markers a:hover {
	animation-name: light-to-dark-blues;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	-webkit-animation-name: light-to-dark-blues;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>a:after {
	content: "\f0da";
	border: none;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0px;
	margin-left: 0px;
}

/* Animations and other features */
@keyframes light-to-dark-blues {
	0% {background-color: #3db2e1;}
	50% {background-color: #146585;}
	100% {background-color: #3db2e1;}
}
/* Safari 4.0 - 8.0 */ 
@-webkit-keyframes light-to-dark-blues {
	0% {background-color: #3db2e1;}
	50% {background-color: #146585;}
	100% {background-color: #3db2e1;}
}