/* 
Tanner Fry 
tfry@contractor.usgs.gov

A file for the css design of all web page elements including svg graph,
leaflet map, and more.

Old USGS RGB: 0, 112, 66
Old USGS Hex: #007042
New USGS RGB: 0, 38, 76
New USGS Hex: #00264c

*/

/* Main styles */
body {
	background-color: #ffffff;
	/*overflow: hidden;  /* temp fix to hide scrollbar for useless space */
	/* 
	Note: setting width: 100%; allows other content to extend past browser view. 
	Not needed and also don't know what content does this yet
	Note 2: Not sure why there's extra space at the bottom of the screen when
	'overflow: hidden;' is disabled.
    */
    font-size: 16px;
    margin: 0px 5px 0px 5px;
}
html {

}
ul {
    margin: 0px !important;
}
.a-help-block {
    color: #5a5353;
    display: block;
    text-decoration: none;
}
.a-help-block:hover {
    color: #5a5353;
    text-decoration: underline;
}
.a-help-inline {
    color: #5a5353;
    text-decoration: none;
}
.a-help-inline:hover {
    color: #5a5353;
    text-decoration: underline;
}
/* 
Deprecated
.a-license:hover {
    color: #0078A8;
    text-decoration: underline;
}
.a-license {
    color: #0078A8;
    text-decoration: none;
}
*/
.help-block {
    display: inline-block;
    padding: 0px 10px 0px 10px;
}
.help-block-1-col {
    display: block;
    padding: 0px 5px 0px 5px;
    width: 90%;
}
.help-block-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    justify-content: space-evenly;
}
.help-block-container-1-col {
    display: grid;  
    grid-template-columns: auto;
    grid-gap: 5px;
    justify-items: center;
    margin: 0% 15% 0% 15%;
}
.help-container {
    padding: 0px 30px 0px 30px;
}
.help-main-container {
    background-color: #e6e6e6;
    overflow: auto;
}
.help-header {
    color: #5a5353;
    display: block;
    font-size: 32px;
    text-align: center;
    padding: 5px 0px 5px 0px;
}
.help-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.help-polaroid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
.help-polaroid-container {
    text-align: center;
    padding: 10px 20px;
}
.help-sub-header {
    color: #21a1d4;
    display: block;
    font-size: 20px;
    padding: 5px 0px 5px 0px;
}
.help-text {
    
}
/* 
Deprecated
.licenses {
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 70%;
} 
*/

#main-container {
    height: 100%;
}

/* Leaflet map styles */
#mapid {
    border-style: solid;
    border-width: 1px;
    float: left;
    width: 100%;
    z-index: 1;

}
.leaflet-interactive { /* TODO: May not need this */
    /* Used for filling in state lines when countyorequal or stateorequal layer is applied to leaflet map */
    /* fill: #000000;
    fill-opacity: 0.2; */
}
#reset-view-leaflet-option {
    position: absolute;
    right: 155px;
    top: 11px;
    z-index: 401;  /* 400 is the map tile layers */
}
#toggle-ontology-option {
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 401;  /* 400 is the map tile layers */
}

/* Leaflet/Ontology buttons */
.btn-leaflet {
    background-color: #ffffff;
    border: 1px solid #808080;
    color: #000000;
    cursor: default;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px;
}
.btn-leaflet:hover {
    background-color: #e6e6e6;
    cursor: default;
}
.btn-ontology {
    background-color: #ffffff;
    border: 1px solid #808080;
    color: #000000;
    cursor: default;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px;
}
.btn-ontology:hover {
    background-color: #e6e6e6;
    cursor: default;
}
/* Place crosshair at the center of the leaflet map */
#crosshair img {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

/*  Ontology graph styles */
#example {
    display: none;
    height: 100%;
    float: left;
    position: relative;
    width: 69%;
}
#graph {
    display: none;
    height: 100%;
    float: left;
    position: relative;
    width: 100%;
}
.svgGraph {
    border: 1px solid #000000;
    display: none;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
}
#policies-and-contributions {
    bottom: -0.1%;
    color: #333333;
    display: none;
    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px;
    position: absolute;
    right: 0.4%;
    z-index: 3;
}
#policies-and-contributions > a {
    color: #0078A8;
    font-size:  11px;
    text-decoration: none;
}
#policies-and-contributions > a:hover {
    text-decoration: underline;
}
#reset-view-ontology-option {
    display: none;
    position: absolute;
    right: 145px;
    top: 10px;
    z-index: 3;
}
#slider-ontology-option {
    background-color: #d9d9d9;
    border: 1px solid #808080;
    display: none;
    height: 25px;
    left: 10px;
    margin-left: 2px;
    padding: 0px 5px 0px 5px;
    position: absolute;
    top: 10px;
    width: 193px;
    z-index: 3;
}
#toggle-leaflet-option {
    position: absolute;
    right: 9px;
    top: 10px;
    z-index: 3;
}

/* Widget styles */
.afd-widget {
    background-color: #343a40;
    border: 1px solid #6c757d;
    color: rgba(255,255,255,.5);
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 80%;
    margin-top: 39px;
    min-width: 200px;
    overflow: auto;
    position: absolute;
    right: 0%;
    width: 30%;
    z-index: 5;
}
.afd-widget-title {
    display: flex;
    font-size: 24px;
    justify-content: center;
    text-align: center;
}
.afd-content-container {
    margin: 5px;
}
.btn-widget-exit {
    float: right;
    margin: 5px 10px 0px 0px;
}
.btn-widget-exit > a {
    color: #ffffff;
    text-decoration: none !important;
}
.btn-widget-exit > a:hover {
    color: #88d0ed;
}
.qb-button {
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}
.qb-button:hover {
    background-color: #88d0ed;
    border-color: #88d0ed;
}
.qb-clear-map {
    float: right;
}
.qb-content-container {
    text-align: center;
}
.qb-input-graph-number, .qb-input-graph-filter{
    text-align: center;
    width: 80%;
    margin: 5px;
}
.qb-run-query {
    float: left;
}
.qb-select-dropdown {
    font-size: 10px; 
    margin-bottom: 5px;
    margin-top: 5px;
    width: 95%;
}
.qb-text {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size:15px; 
    margin: 0px;
}
.qb-text-area {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 15px !important;
    resize: none;
    width: 100%;
}
.qb-widget {
    background-color: #343a40;
    border: 1px solid #6c757d;
    color: rgba(255,255,255,.5);
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 80%;
    margin-top: 39px;
    min-width: 200px;
    overflow: auto;
    position: absolute;
    right: 0%;
    width: 30%;
    z-index: 5;
}
.qb-widget-tab {
    
}
.qb-widget-title {
    display: flex;
    font-size: 24px;
    justify-content: center;
    text-align: center;
}

/* Misc page styles */
#loading-layer-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: wait;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50000;
}
#txtbox-container {
    background-color: #343a40;
    border: 1px solid #6c757d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    justify-content: space-between;
    margin: auto;
    padding: 5px;
    position: relative;
    width: 18%;
    z-index: 5000;
}
#txtbox-Latitude {
    border: 1px solid #6c757d;
    border-radius: 5px;
    position: relative;
    right: 0%;
    text-align: center;
}
#txtbox-Longitude {
    border: 1px solid #6c757d;
    border-radius: 5px;
    position: relative;
    right: 0%;
    text-align: center;
}
#txtbox-text-lat {
    color: rgba(255,255,255,.5);
}
#txtbox-text-long {
    color: rgba(255,255,255,.5);
}