/* 
Tanner Fry 
tfry@contractor.usgs.gov

A file for the css design of all web page elements including svg graph,
leaflet map, and more.
*/

/* Main styles */
body {
	background-color: #ffffff;
	/*overflow: hidden;  /* temp fix to hide scrollbar for useless space */
	/* 
	Note: setting width: 100%; allows other content to extend past browser view. 
	Not needed and also don't know what content does this yet
	Note 2: Not sure why there's extra space at the bottom of the screen when
	'overflow: hidden;' is disabled.
    */
    height: 100%;
    margin: 0px 5px 0px 5px;
}
html {
    height: 100%;
}

#main-container {
    height: 90%;
    padding-top: 30px;
}

/* AFD styles */
.afd-widget {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    height: 80%;
    margin: 7px 0px 0px 0px;
    width: 30%;
}
.afd-widget fieldset {
    margin: 0px;
}
#afd-tabs {
    overflow: auto;
}

/* Leaflet map styles */
#mapid {
    border-style: solid;
    border-width: 1px;
    float: left;
    width: 69%;
    z-index: 1;
}
.leaflet-interactive {
    /* Used for filling in state lines when countyorequal or stateorequal layer is applied to leaflet map */
    fill: #000000;
    fill-opacity: 0.2;
}
#reset-view-leaflet-option {
    position: absolute;
    right: 155px;
    top: 11px;
    z-index: 401;  /* 400 is the map tile layers */
}
#toggle-ontology-option {
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 401;  /* 400 is the map tile layers */
}

/* Leaflet/Ontology buttons */
.btn-leaflet {
    background-color: #ffffff;
    border: 1px solid #808080;
    color: #000000;
    cursor: default;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px;
}
.btn-leaflet:hover {
    background-color: #e6e6e6;
    cursor: default;
}
.btn-ontology {
    background-color: #d9d9d9;
    border: 1px solid #a6a6a6;
    color: #000000;
    cursor: default;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px;
}
.btn-ontology:hover {
    background-color: #e6f2ff;
    border: 1px solid #1a8cff;
    cursor: default;
}
/* Place crosshair at the center of the leaflet map */
#crosshair img {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

/*  Ontology graph styles */
#example {
    display: none;
    height: 100%;
    float: left;
    position: relative;
    width: 69%;
}
#graph {
    display: none;
    height: 100%;
    float: left;
    position: relative;
    width: 100%;
}
.svgGraph {
    border: 1px solid #000000;
    display: none;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 2;
}
#policies-and-contributions {
    bottom: -0.1%;
    color: #333333;
    display: none;
    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0px;
    position: absolute;
    right: 0.4%;
    z-index: 3;
}
#policies-and-contributions > a {
    color: #0078A8;
    font-size:  11px;
    text-decoration: none;
}
#policies-and-contributions > a:hover {
    text-decoration: underline;
}
#reset-view-ontology-option {
    display: none;
    position: absolute;
    right: 145px;
    top: 10px;
    z-index: 3;
}
#slider-ontology-option {
    background-color: #d9d9d9;
    border: 1px solid #808080;
    display: none;
    height: 25px;
    left: 10px;
    margin-left: 2px;
    padding: 0px 5px 0px 5px;
    position: absolute;
    top: 10px;
    width: 193px;
    z-index: 3;
}
#toggle-leaflet-option {
    position: absolute;
    right: 9px;
    top: 10px;
    z-index: 3;
}

/* Misc page styles */
#loading-layer-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: wait;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50000;
}
#txtbox-container {
    float: right;
    width: 30%;
}
#txtbox-Latitude {
	float: right;
	text-align: center;
}
#txtbox-Longitude {
	float: right;
	text-align: center;
}
#txtbox-text-lat {
    float: left;
}
#txtbox-text-long {
    float: left;
}